<style>
.button {
  background-color: DeepSkyBlue;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

Create a Room, where friends can join...
<br>
<form action="/room/"  method=GET>
<button class="button" name="r" value=123 type="submit">Create Room</button>
</form> 
<br>
<br>
<form action="/room/" method=GET> 
  Or Join your friends... 
  <br>
  <br>
  <input type="text" name="r" value="XXX">
  <br>
  <button class="button" type="submit" >Join</button>
</form> 
and find the perfect match

{{table}}
<br>
<h3><a href="/stats/">Stats</a></h3>